<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="row">
           <span class="title pad-left-right"><h3><strong>Plants</strong></h3></span>
        </div>
        <div class="row">
           <div class="input-group pull-left pad-left-right col-xs-7">
  
              <!-- Add the search box input text field here-->
              <input type="text"
                        class="form-control"
                        (keyup)="search(searchBox.value)"
                        placeholder="Enter a search value" #searchBox >
  
              <div class="glyphicon glyphicon-search input-group-addon" 
                    (click)="search(searchBox.value)"></div>
           </div>
        </div>
        <div class="pull-right pad-left-right">
           <a class="btn btn-success" [routerLink]="['new']">New Plant</a>
        </div>
     </div>
    <div class="panel-body">
        <app-plant-item
            *ngFor="let plantEl of plants"
            [plant]="plantEl"
            [plantIndex]="plantEl.id" >   
        </app-plant-item>
    </div>

</div>

