<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="col-xs-6">
            <a class="panel-title text-left">Contacts</a>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-success">New Contacts</button>
        </div>

    </div>
    <div class="panel-body">
        <div *ngFor="let contact of Contacts" class="row contact-item">
            <div class="col-xs-6">
                <h3>{{ contact.name }}</h3>
            </div>
            <div class="col-xs-6 text-right">
                <img [src]="contact.imageUrl" alt="{{ contact.name}}" class="contact-image">
            </div>
        </div>
    </div>

</div>
