<nav class="navbar navbar-default">
    <div class="container-fluid">
        
        <div class="navbar-header">
          <a href="#" class="navbar-brand">My Plant App</a>
        </div>
  
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActivate="activate" ><a routerLink="/plants">Plants</a></li>
                <li routerLinkActivate="activate" ><a routerLink="/groups">Groups</a></li>
                <li routerLinkActivate="activate" ><a routerLink="/schedule">Schedule</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button"> User <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" style="cursor: pointer;">Profile</a></li>
                        <li><a href="#" style="cursor: pointer;">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" style="cursor: pointer;">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
  </nav>
