.panel-title {
    margin: 12px;
    margin-top: 30px;
    padding: 2px;
    font-size: 24px;
}
.plant-image {
    width: 10rem;
    padding: 10px;
}

.btn-primary {
    margin: 2px;
    margin-left: 125px;
        
}
.btn-danger{
    margin: 2px;

}
.panel.panel-default {
    position: fixed;
}