<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="row">
            <h1 class="panel-title text-left"></h1>
        </div> 
            <div class="col-xs-6">  
                <img src="" class="contact-image">
            </div> 
            <div class="button text-right">
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </div>
    </div>
    <div class="panel-body">
        <h4>Email: </h4>
        <h4>Phone: </h4>
    </div>
</div>
