<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="row">
            <h1 class="panel-title text-left">{{ contact?.name }}</h1>
            <img [src]="contact.imageUrl" class="contact-image">
            <!-- <div class="col text-right">   -->
                <a class="btn btn-primary" routerLinkActive="active" (click)="onEditContact()">Edit</a>
                <a class="btn btn-danger" routerLinkActive="active"(click)="onDeleteContact()">Delete</a>
            <!-- </div> -->
            </div>
    </div>
    <div class="panel-body">
        <h4>Email: {{ contact.email }}</h4>
        <h4>Phone: {{ contact.phone }}</h4>
    </div>
</div>
