<div class="panel panel-default">
    <div class="panel-heading clearfix">
          <div class="row pad-left-right">
              <span class="pull-left title">Add Documents</span>
              <button class="btn btn-success pull-right">Add Document</button>
          </div>
    </div>
    <div class="panel-body">
        <div class="center-panel">
            <app-document-item
              *ngFor="let document of Documents"
              [document]="document"
              (click)="onSelectedDocument(document)">
            </app-document-item>
        </div>
    </div>
      
</div>
