<div class="panel panel-default">
    <div class="panel-body">
  
      <form (ngSubmit)="onSubmit(f)" #f="ngForm"  id="document-edit">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="name">Document Title:</label>
            <input
              type="text"
              id="name"
              [ngModel]=document?.name
              class="form-control"
              size="120"
              max="120"
              required
              #name="ngModel">
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="description">Document Description:</label>
            <input
              type="text"
              id="description"
              [ngModel]=document?.description
              class="form-control"
              size="120"
              max="255"
              required
              #name="ngModel">
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="url">Document URL:</label>
            <input
              type="text"
              id="url"
              [ngModel]=document?.url
              class="form-control"
              size="150"
              max="255"
              required
              #name="ngModel">
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" >Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
  
      </form>
  
    </div>
  </div>
