<div class="panel panel-default">
    <div class="panel-body">

      <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="contact-edit">
        
        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="name">Name:</label>
                    <input
                      type="text"
                      id="name"
                      [ngModel]="contact?.name"
                      name="name"
                      class="form-control required"
                      size="120"
                      max="120"
                      required
                      #nameref="ngModel">
            </div>
        </div>
  
        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="email">Email:</label>
                      <input
                          type="text"
                          pattern=“[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$”
                          id="email"
                          name="email"
                          class="form-control required"
                          size="120"
                          max="255"
                          required
                          [ngModel]="contact?.email"
                          #emailref="ngModel">
                    <div *ngIf="emailref.errors &&(emailref.untouched || emailref.notvalid)">
                        <div [hidden]="!emailref.errors?.pattern" class ="alert alert-danger">
                              Enter a valid Email address
                        </div>
                    </div>
              </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="phone">Phone:</label>
                    <input
                        type="text"
                        pattern="\D*([2-9]\d{2})(\D*)([2-9]\d{2})(\D*)(\d{4})\D*"
                        id="phone"
                        [ngModel]="contact?.phone"
                        name="phone"
                        class="form-control"
                        size="150"
                        max="255"
                        #phoneref="ngModel">
                  <div *ngIf="phoneref.errors &&(phoneref.untouched || phoneref.notvalid)">
                    <div [hidden]="!phoneref.errors?.pattern" class ="alert alert-danger">
                          Enter a valid Phone number
                    </div>
                </div>
            </div>
        </div>
  
        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="imageUrl">Image URL:</label>
                    <input
                        type="text"
                        id="imageUrl"
                        [ngModel]="contact?.imageUrl"
                        name="imageUrl"
                        class="form-control"
                        size="150"
                        max="255"
                        #imageUrl="ngModel">
            </div>
        </div>

        <div *ngIf="(nameref.errors &&(nameref.untouched || nameref.notvalid)) || 
                    (emailref.errors &&(emailref.untouched || emailref.notvalid))">
            <div [hidden]="(nameref.errors?.pattern || emailref.errors?.pattern)" 
                  class ="alert alert-danger" >
                  The "Name" and "Email" are required fields.
            </div>
        </div>
  
        <div class="row">
            <div class="form-group">
                <label for="groupList">Group Contacts:</label>
  
                <div class="row" id="groupList"
                      style="min-height: 3rem;" >
  
                    <div *ngFor="let contact of groupContacts; let i = index"> 
                        <div>
                            <cms-contact-item class="col-sm-11" 
                                              [contact]="contact"></cms-contact-item> 
                            <button class="btn btn-danger col-sm-2 deleteButton" 
                                    (click)="onRemoveItem(i)">X</button>
                        </div>
                    </div>
                  <span class="dragMsg" *ngIf="groupContacts?.length < 1">
                        Drag contacts in group here</span> 
                </div>
            </div>
        </div> 
  
        <div class="row">
            <div class="col-xs-12 btn-toolbar">
                
                      <button class="btn btn-success" 
                              type="submit" 
                              [disabled]="!(nameref.errors?.pattern || emailref.errors?.pattern)">
                              Save</button>
                
                <button class="btn btn-primary" 
                        type="button" 
                        (click)="onCancel()">Cancel</button>
            </div>
        </div>
      </form>
    </div>
</div>


 
  
