<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
        <button 
          type="button"
          class="navbar-toggle collasped"
          (click)="toggleNavbar()">

          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar">Toggle Navigation</span>
          <span class="icon-bar">Toggle Navigation</span>
          <span class="icon-bar">Toggle Navigation</span>
        </button>

        <a href="#" class="navbar-brand">WeLearn CMS</a>
      </div>

      <div class="collapse navbar-collapse" [ngClass]="{ 'in': isNavbarCollapsed }">
          <ul class="nav navbar-nav">
              <li routerLinkActivate="activate" ><a routerLink="/documents" >Documents</a></li>
              <li routerLinkActivate="activate" ><a routerLink="/messages">Messages</a></li>
              <li routerLinkActivate="activate" ><a routerLink="/contacts">Contacts</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" [ngClass]="{ open: isUserDropdownOpen }">
                  <a href="#" (click)="toggleUserDropdown()"> User <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Profile</a></li>
                      <li><a href="#">Settings</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Logout</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>